[submodule "comp333/Concurrency"]
    path = comp333/Concurrency
    url = https://github.com/massivelivefun/Concurrency
[submodule "comp482/EggDrop"]
	path = comp482/EggDrop
	url = https://github.com/massivelivefun/EggDrop
[submodule "comp482/Roommates"]
	path = comp482/Roommates
	url = https://github.com/massivelivefun/Roommates
[submodule "comp482/Sorts"]
	path = comp482/Sorts
	url = https://github.com/massivelivefun/Sorts
[submodule "comp587/arithmetic"]
	path = comp587/arithmetic
	url = https://github.com/massivelivefun/arithmetic
[submodule "comp587/linked_list"]
	path = comp587/linked_list
	url = https://github.com/massivelivefun/linked_list
[submodule "comp587/rand-depth"]
	path = comp587/rand-depth
	url = https://github.com/massivelivefun/rand-depth
[submodule "comp587/trees"]
	path = comp587/trees
	url = https://github.com/massivelivefun/trees
[submodule "comp610/CashiersIncorrect"]
	path = comp610/CashiersIncorrect
	url = https://github.com/massivelivefun/CashiersIncorrect
[submodule "comp610/MedianOfInts"]
	path = comp610/MedianOfInts
	url = https://github.com/massivelivefun/MedianOfInts
