[submodule "comp587/arithmetic"]
	path = comp587/arithmetic
	url = https://github.com/massivelivefun/arithmetic
[submodule "comp587/linked_list"]
	path = comp587/linked_list
	url = https://github.com/massivelivefun/linked_list
[submodule "comp587/rand_depth"]
	path = comp587/rand_depth
	url = https://github.com/massivelivefun/rand_depth
[submodule "comp587/trees"]
	path = comp587/trees
	url = https://github.com/massivelivefun/trees
